root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{axaml,xml,csproj,props,targets,json,yml,yaml}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_prefer_braces = true:warning
dotnet_sort_system_directives_first = true
dotnet_style_require_accessibility_modifiers = always:warning
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_prefer_primary_constructors = false:none
